@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap");
/* scroll */
html {
  overflow-x: hidden; }

* {
  padding: 0;
  margin: 0; }

/* Scroll */
html::-webkit-scrollbar {
  width: 5px;
  background: rgba(2, 2, 2, 0.1); }

html::-webkit-scrollbar-thumb {
  background: rgba(2, 2, 2, 0.5); }

/*Header*/
header {
  grid-row: 1/2;
  grid-column: 1/2;
  position: sticky;
  top: 0px;
  z-index: 100;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
  header .navbar {
    height: 100%;
    padding: 0px;
    z-index: 100; }
  header #navbarNavAltMarkup {
    position: relative;
    z-index: 100;
    justify-content: flex-end; }

/*Footer*/
footer {
  grid-row: 3/4;
  grid-column: 1/2;
  background-color: #ffb44b;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  footer section {
    font-family: 'Bebas Neue', cursive;
    font-size: 3vh;
    text-align: center; }
  footer i {
    margin: 0% 5%; }
  footer a {
    text-decoration: none;
    color: black; }

/*Mixin*/
#contacto__body {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 100vw;
  /* Main */
  /* Mobile */
  /* Desktop */ }
  #contacto__body main {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 8% 5% 41% 5% 41%; }
    #contacto__body main section {
      text-align: center;
      font-family: "Bebas Neue", cursive; }
    #contacto__body main .titulos, #contacto__body #info__body main section:nth-child(1), #info__body #contacto__body main section:nth-child(1), #contacto__body main section:nth-child(1) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #c3c3c3; }
    #contacto__body main section:nth-child(2) {
      padding: 1%; }
    #contacto__body main section:nth-child(3) {
      padding: 2%;
      font-size: 2.5vh; }
  #contacto__body label {
    font-family: "Cairo", sans-serif; }
  #contacto__body form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: none; }
  #contacto__body input {
    display: block; }
  #contacto__body .form__button {
    padding: 2% 5%;
    background-color: #c3c3c3;
    border: none;
    margin-top: 3%; }
    #contacto__body .form__button:hover {
      background-color: black;
      color: white; }
  #contacto__body .text {
    display: block;
    text-align: center;
    font-family: "Cairo", sans-serif; }
  @media only screen and (max-width: 472px) {
    #contacto__body main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      #contacto__body main section:nth-child(1) {
        display: none; }
      #contacto__body main section:nth-child(2) {
        padding: 5%; }
      #contacto__body main section {
        padding: 2%; } }
  @media only screen and (min-width: 473px) {
    #contacto__body main {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 8% 5% 61% 6% 20%; }
      #contacto__body main section:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/4;
        font-size: 1.5rem; }
      #contacto__body main section:nth-child(2) {
        grid-row: 3/4;
        grid-column: 2/3;
        transition: all 1s; }
        #contacto__body main section:nth-child(2):hover {
          background-color: rgba(255, 180, 75, 0.8); }
      #contacto__body main section:nth-child(3) {
        grid-row: 5/6;
        grid-column: 2/3;
        padding: 1%; } }

/*                                              INFO                                          */
#info__body {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 100vw;
  /* Main */
  /* Mobile */
  /* Desktop */ }
  #info__body main {
    grid-row: 2/3;
    grid-column: 1/2; }
    #info__body main section {
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      background-color: white; }
    #info__body main section:nth-child(1) {
      background-color: #c3c3c3; }
  #info__body #horarios {
    display: grid;
    grid-template-rows: 20% 35% 35%;
    grid-template-columns: 60% 40%;
    text-align: center;
    margin-top: 5%; }
    #info__body #horarios .horas:first-child {
      grid-row: 1/2;
      grid-column: 1/3; }
    #info__body #horarios .horas:nth-child(2) {
      grid-row: 2/3;
      grid-column: 1/2; }
    #info__body #horarios .horas:nth-child(3) {
      grid-row: 2/3;
      grid-column: 2/3; }
    #info__body #horarios .horas:nth-child(4) {
      grid-row: 3/4;
      grid-column: 1/2; }
    #info__body #horarios .horas:nth-child(5) {
      grid-row: 3/4;
      grid-column: 2/3; }
  #info__body .horas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: 1px solid black;
    height: 100%; }
    #info__body .horas h2 {
      padding: 2%;
      margin: 0px; }
  #info__body iframe {
    width: 80%;
    height: 25vh; }
  @media only screen and (max-width: 472px) {
    #info__body {
      display: grid;
      grid-template-rows: 10vh 1fr 10vh;
      grid-template-columns: 100vw; }
    #info__body main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: none; }
      #info__body main section {
        padding: 2%; }
    #info__body #horarios .horas:first-child {
      font-size: 1.25rem; }
    #info__body .horas {
      padding: 2%;
      font-size: 1rem; }
      #info__body .horas h2 {
        font-size: 0.80rem; } }
  @media only screen and (min-width: 473px) {
    #info__body {
      display: grid;
      grid-template-rows: 10vh 80vh 10vh;
      grid-template-columns: 100vw; }
    #info__body main {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 8% 46% 46%;
      grid-row: 2/3;
      grid-column: 1/2; }
      #info__body main section:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/3;
        font-size: 1.5rem; }
    #info__body #info {
      grid-row: 2/4;
      grid-column: 1/2;
      display: flex;
      align-items: center;
      font-size: 1rem;
      padding: 3%; }
    #info__body #horarios {
      grid-row: 2/3;
      grid-column: 2/3; }
      #info__body #horarios .horas:first-child {
        font-size: 1.5rem; }
    #info__body .horas {
      font-size: 1.25rem; }
      #info__body .horas h2 {
        font-size: 1rem; }
    #info__body #mapa {
      grid-row: 3/4;
      grid-column: 2/3; } }

/*                                                 ENTREGAS                                    */
#entregas__body {
  display: grid;
  grid-template-rows: 10vh 100vh 10vh;
  grid-template-columns: 100vw;
  /* Main */ }
  #entregas__body main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/2; }
    #entregas__body main section {
      height: 100%;
      width: 70%;
      padding: 3%; }
  @media only screen and (max-width: 767px) {
    #entregas__body {
      display: grid;
      grid-template-rows: 10vh auto 10vh;
      grid-template-columns: 100vw; }
    #entregas__body main section {
      width: 100%; } }

/*                                            PRODUCTOS                                         */
.productos__body {
  /* Aside */
  /* Main */
  /* Mobile */
  /* Tablet */
  /* Desktop */ }
  .productos__body #aside__mobile {
    display: none; }
  .productos__body .aside__ul {
    list-style: none;
    position: sticky;
    top: 15%;
    padding: 0px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .productos__body .aside__ul a {
      font-family: 'Encode Sans', sans-serif;
      text-decoration: none;
      color: #818181;
      transition: color 1s; }
      .productos__body .aside__ul a:hover {
        color: Black; }
  .productos__body main {
    grid-row: 2/3;
    grid-column: 1/2; }
  .productos__body #productos {
    padding: 2%;
    display: flex;
    flex-direction: column; }
  .productos__body img {
    width: 100%;
    height: 100%;
    --animation:animate__fadeInDown;
    /* referring directly to the animation's @keyframe declaration */ }
  .productos__body .imagenes {
    margin-bottom: 5%;
    grid-column-gap: 0.5%;
    grid-row-gap: 1.25%; }
  .productos__body h1 {
    text-decoration: underline 2px;
    font-family: 'Glory', sans-serif; }
  .productos__body #ropero {
    margin-top: 5%; }
  .productos__body img {
    border-bottom: 1px solid black;
    border-radius: 0.7em; }
  .productos__body .card {
    height: 80vh;
    font-size: 1em;
    overflow: auto; }
  .productos__body .card-img-top {
    height: 50%; }
  .productos__body .card-body {
    height: 50%; }
  @media only screen and (max-width: 499px) {
    .productos__body #aside__mobile {
      display: inline; }
    .productos__body #aside__desktop {
      display: none; }
    .productos__body {
      display: grid;
      grid-template-rows: 10vh 5vh 1fr 10vh;
      grid-template-columns: 100vw; }
    .productos__body header {
      grid-column: 1/2; }
    .productos__body #aside__mobile {
      grid-column: 1/2;
      grid-row: 2/3;
      list-style: none;
      position: sticky;
      top: 10%;
      height: 100%;
      background: grey; }
    .productos__body .container__li {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: -1000px;
      height: 40vh;
      transition: 1s all;
      background: white;
      border-bottom: 1px solid black;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
    .productos__body #aside__mobile:hover > .container__li {
      margin-top: 0px; }
    .productos__body footer {
      grid-column: 1/2;
      grid-row: 4/5; }
    .productos__body aside {
      position: relative;
      transition: all 1s;
      z-index: 95; }
    .productos__body #ul__button {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 200;
      background: grey; }
    .productos__body #productos {
      grid-column: 1/2;
      grid-row: 3/4; }
    .productos__body .imagenes {
      display: grid;
      grid-template-columns: repeat(2, 47vw);
      grid-template-rows: 8vh auto;
      grid-auto-rows: auto;
      margin-bottom: 10%; }
    .productos__body .card {
      height: 80vh; }
    .productos__body h1 {
      grid-row: 1/2;
      grid-column: 1/3; }
    .productos__body .aside__ul a {
      font-size: 1rem; } }
  @media only screen and (max-width: 991px) and (min-width: 500px) {
    .productos__body {
      display: grid;
      grid-template-rows: 10vh 1fr 10vh;
      grid-template-columns: 20vw 80vw; }
    .productos__body header {
      grid-column: 1/3; }
    .productos__body footer {
      grid-column: 1/3; }
    .productos__body aside {
      grid-column: 1/2;
      grid-row: 2/3; }
    .productos__body aside {
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
    .productos__body #productos {
      grid-column: 2/3;
      grid-row: 2/3; }
    .productos__body .imagenes {
      display: grid;
      grid-template-columns: repeat(3, 25vw);
      grid-template-rows: 8vh auto;
      grid-auto-rows: auto; }
    .productos__body h1 {
      grid-row: 1/2;
      grid-column: 1/4; }
    .productos__body .aside__ul a {
      font-size: 1rem; } }
  @media only screen and (min-width: 992px) {
    .productos__body {
      display: grid;
      grid-template-rows: 10vh 1fr 10vh;
      grid-template-columns: 20vw 80vw; }
    .productos__body header {
      grid-column: 1/3; }
    .productos__body footer {
      grid-column: 1/3; }
    .productos__body aside {
      grid-column: 1/2;
      grid-row: 2/3; }
    .productos__body aside {
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
    .productos__body #productos {
      grid-column: 2/3;
      grid-row: 2/3; }
    .productos__body .imagenes {
      display: grid;
      grid-template-columns: repeat(4, 18.8vw);
      grid-template-rows: 8vh auto;
      grid-auto-rows: auto; }
    .productos__body h1 {
      grid-row: 1/2;
      grid-column: 1/5; }
    .productos__body .aside__ul a {
      font-size: 1.5rem; } }

/*                                                  INICIO                                    */
#index__body {
  /* Main */
  /* NOVEDADES */
  /* Mobile */
  /* Tablet */
  /* Desktop */ }
  #index__body #title__main, #index__body .title {
    text-align: center;
    font-size: 10vh;
    color: black;
    font-family: "Bebas Neue", cursive; }
  #index__body main section {
    padding: 3%; }
  #index__body #text {
    font-size: 3vh;
    color: black;
    text-align: center;
    font-family: "Oswald", sans-serif; }
  #index__body .title {
    text-decoration: underline;
    font-size: 6vh; }
  #index__body #carouselExampleDark {
    height: 90%;
    width: 90%; }
  #index__body .carousel-inner {
    height: 100%;
    z-index: 1; }
  #index__body .carousel-item {
    height: inherit; }
  #index__body .carousel-caption {
    display: flex !important;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0px; }
  #index__body .button {
    z-index: 10 !important; }
  #index__body #carouselExampleSlidesOnly {
    height: 100%;
    width: 100%; }
  #index__body .w-100 {
    height: 100%;
    object-fit: scale-down; }
  @media only screen and (max-width: 499px) {
    #index__body {
      /*Header*/
      /*Main*/
      /*Footer*/ }
      #index__body {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 40vh 45vh 60vh 90vh 10vh;
        grid-row-gap: 1%; }
      #index__body header {
        grid-row: 1/2;
        grid-column: 1/2; }
      #index__body #promocion {
        grid-row: 2/3;
        grid-column: 1/2; }
      #index__body .promocion__carro {
        width: 100% !important;
        height: 100% !important; }
      #index__body .w-100 {
        object-fit: unset; }
      #index__body #cartel {
        grid-row: 3/4;
        grid-column: 1/2; }
      #index__body #novedad {
        grid-row: 4/5;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      #index__body #masvendido {
        grid-row: 5/6;
        grid-column: 1/2;
        display: grid;
        grid-template-rows: 10%;
        grid-auto-rows: 20%;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1%;
        grid-row-gap: 1%; }
      #index__body #vendido_title {
        grid-row: 1/2;
        grid-column: 1/3;
        font-size: 3.5vh;
        text-align: center; }
      #index__body .vendido__img {
        width: 100%;
        height: 100%;
        border: 1px solid black; }
      #index__body footer {
        grid-row: 6/7;
        grid-column: 1/2; } }
  @media only screen and (max-width: 991px) and (min-width: 500px) {
    #index__body {
      /*Header*/
      /*Main*/
      /*Footer*/ }
      #index__body #text {
        font-size: 2.5vw !important; }
      #index__body {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 50vh 45vh 60vh 50vh 10vh;
        grid-row-gap: 1%; }
      #index__body header {
        grid-row: 1/2;
        grid-column: 1/2; }
      #index__body #promocion {
        grid-row: 2/3;
        grid-column: 1/2; }
      #index__body .promocion__carro {
        width: 100% !important;
        height: 100% !important; }
      #index__body .carousel.pointer-event {
        height: 100%;
        width: 100%; }
      #index__body .w-100 {
        object-fit: unset; }
      #index__body #cartel {
        grid-row: 3/4;
        grid-column: 1/2; }
      #index__body #novedad {
        grid-row: 4/5;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        #index__body #novedad img {
          width: 80% !important;
          object-fit: scale-down !important; }
      #index__body #masvendido {
        grid-row: 5/6;
        grid-column: 1/2;
        display: grid;
        grid-template-rows: 10%;
        grid-auto-rows: 40%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1%;
        grid-row-gap: 3%; }
      #index__body #vendido_title {
        grid-row: 1/2;
        grid-column: 1/5;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
      #index__body .vendido__img {
        width: 100%;
        height: 100%;
        border: 1px solid black; }
      #index__body footer {
        grid-row: 6/7;
        grid-column: 1/2; } }
  @media only screen and (min-width: 992px) {
    #index__body {
      /*Header*/
      /*MAIN*/
      /*Footer*/ }
      #index__body {
        display: grid;
        grid-template-rows: 10vh 60vh 40vh 90vh 10vh;
        grid-template-columns: 70vw 30vw; }
      #index__body header {
        grid-row: 1/2;
        grid-column: 1/3; }
      #index__body #promocion {
        grid-row: 2/3;
        grid-column: 1/3; }
      #index__body .promocion__carro {
        width: 100% !important;
        height: 100% !important; }
      #index__body .w-100 {
        object-fit: unset; }
      #index__body #cartel {
        grid-row: 3/4;
        grid-column: 1/2; }
      #index__body #novedad {
        grid-row: 4/5;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        #index__body #novedad img {
          width: 80%;
          object-fit: scale-down !important; }
      #index__body #masvendido {
        grid-row: 3/5;
        grid-column: 2/3;
        display: grid;
        grid-template-rows: 10%;
        grid-auto-rows: 20%;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1%;
        grid-row-gap: 1%; }
      #index__body #vendido_title {
        grid-row: 1/2;
        grid-column: 1/3;
        font-size: 4.5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
      #index__body .vendido__img {
        width: 100%;
        height: 100%;
        border: 1px solid black; }
      #index__body footer {
        grid-row: 5/6;
        grid-column: 1/3; } }
