
$tituloPrincipal:'Bebas Neue', cursive;
$tituloSecundario:'Cairo', sans-serif;
$fondo:#c3c3c3;
$fondoForm:rgba(#ffb44b,.8);
$fondoBotonHover:black;
$letraBotonHover:white;

$asideProductos:#818181;
$asideProductosHover:Black;
$texto: 'Oswald', sans-serif;
$colorFooter:#ffb44b;